/* =========
 VARIABLES
========= */
:root{
  --bg:#F1E3E8;
  --overlay: rgba(255,255,255,.6);
  --card: rgba(255,255,255,.85);
  --card-strong: rgba(245,225,232,.95);
  --text:#2F2F2F;
}

/* =========
 MODO OSCURO
========= */
body.dark{
  --bg:#1d1b1c;
  --overlay: rgba(0,0,0,.6);
  --card: rgba(80,50,65,.95);
  --card-strong: rgba(120,70,100,.95);
  --text:#fafafa;
}

/* =========
 GENERAL
========= */
body{
  margin:0;
  font-family:system-ui,sans-serif;
  background:var(--bg);
  color:var(--text);
}

.dark-btn{
  position:fixed;
  top:14px;
  right:20px;
  padding:10px 16px;
  border-radius:18px;
  border:none;
  background:rgba(255,255,255,.7);
  cursor:pointer;
  box-shadow:0 10px 25px rgba(0,0,0,.1);
  backdrop-filter: blur(6px);
}
body.dark .dark-btn{
  background:rgba(50,50,50,.75);
  color:#eee;
}

/* =========
 HERO
========= */
.hero{
  margin-top:80px;
  display:flex;
  justify-content:center;
}
.hero-content{
  max-width:850px;
  text-align:center;
  background:var(--card);
  backdrop-filter:blur(10px);
  padding:40px 50px;
  border-radius:22px;
  box-shadow:0 15px 35px rgba(0,0,0,.12);
}
.volver-btn{
  display:inline-block;
  margin-top:16px;
  padding:10px 16px;
  border-radius:12px;
  text-decoration:none;
  background:#CFA6B2;
  color:white;
}

/* =========
 SLIDER
========= */

.slider{
  max-width:900px;
  margin:40px auto 120px;
  position:relative;
  overflow:hidden;   
  border-radius:18px;
  box-shadow:0 10px 25px rgba(0,0,0,.12);
}

.slider img{
  width:100%;
  height:480px;     
  object-fit:cover; /* rellena sin deformar */
}


.slides{
  display:flex;
  width:300%;
  transition:.6s ease;
}

.slides .img{
  width:100%;
}

.slides img{
  width:100%;
  height:460px;
  object-fit:cover;
}

/* =========
 RADIO → MOVIMIENTO
========= */
#s1:checked ~ .slides{ transform:translateX(0); }
#s2:checked ~ .slides{ transform:translateX(-33.33%); }
#s3:checked ~ .slides{ transform:translateX(-66.66%); }

/* =========
 NAVEGACIÓN
========= */
.nav{
  display:flex;
  justify-content:center;
  margin-top:14px;
  gap:10px;
}

.nav label{
  width:14px;
  height:14px;
  border-radius:50%;
  background:#cfa6b2;
  cursor:pointer;
  opacity:.7;
  transition:.3s;
}
.nav label:hover{
  opacity:1;
}

/* =========
 FOOTER
========= */
.site-footer{
  text-align:center;
  padding:30px 10px;
  background: var(--overlay);
  box-shadow: 0 -8px 20px rgba(0,0,0,.08);
}
.site-footer span{
  color:#b2506c;
}
